# SPDX-FileCopyrightText: 2019 Alexander Potashev <aspotashev@gmail.com>
# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL

pycairo==1.20.1
pydbus==0.6.0
PyGObject==3.42.0
pytest==6.2.5
pytest-benchmark==3.4.1
PyWebDAV3==0.9.14
wheel==0.37.1
