# Ignore the following files
*~
*.[oa]
*.diff
*.kate-swp
*.kdev4
.kdev_include_paths
*.kdevelop.pcs
*.moc
*.moc.cpp
*.orig
*.user
.*.swp
.swp.*
Doxyfile
Makefile
Makefile.in
autom4te.cache
avail
random_seed
svn-commit.*.tmp
svn-commit.tmp
svnmerge-commit-message.txt
