[Desktop Entry]
Name=KTimeTracker Component
Name[ca]=Component del KTimeTracker
Name[da]=KTimeTracker-komponent
Name[de]=Zeiterfassungs-Komponente
Name[el]=Συστατικό KTimeTracker
Name[es]=Componente de KTimeTracker
Name[et]=KTimeTrackeri komponent
Name[fr]=Composant KTimeTracker
Name[ga]=Comhpháirt KTimeTracker
Name[gl]=Compoñente KTimeTracker
Name[it]=Componente barra orologio
Name[ja]=KTimeTracker コンポーネント
Name[km]=សមាសភាគ​កម្មវិធីតាមដាន​របស់ KTime
Name[lv]=KTimeTracker komponente
Name[nb]=KTimeTracker-komponent
Name[nds]=Tietlogbook-Komponent
Name[nl]=KTimeTrackercomponent
Name[nn]=KTidtakar-komponent
Name[pl]=Moduł Osobistego czasomierza
Name[pt]=Componente do KTimeTracker
Name[pt_BR]=Componente do KTimeTracker
Name[sl]=Komponenta KTimeTracker
Name[sv]=Tidmätningskomponent
Name[tr]=KTimeTracker Bileşeni
Name[uk]=Компонент KTimeTracker
Name[x-test]=xxKTimeTracker Componentxx
Name[zh_CN]=KTimeTracker 组件
Name[zh_TW]=KTimeTracker 組件
MimeType=text/calendar;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=karmpart
Type=Service
