[Desktop Entry]
Name=KTimeTracker Component
Name[de]=Zeiterfassungs-Komponente
Name[ga]=Comhpháirt KTimeTracker
Name[km]=សមាសភាគ​កម្មវិធីតាមដាន​របស់ KTime
Name[pt]=Componente do KTimeTracker
Name[pt_BR]=Componente do KTimeTracker
Name[sv]=Tidmätningskomponent
Name[zh_TW]=KTimeTracker 組件
MimeType=text/calendar;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=karmpart
Type=Service
