[Desktop Entry]
Icon=system-file-manager
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=ktimetracker/index.html

X-KDE-Library=kcm_ktimetracker
X-KDE-ParentApp=ktimetracker
X-KDE-FactoryName=ktimetracker_config_storage
X-KDE-ParentComponents=ktimetracker,kontact_ktimetrackerplugin
X-KDE-CfgDlgHierarchy=KTimeTracker
X-KDE-Weight=700

Name=Storage
Name[ga]=Stóras
Name[pt_BR]=Armazenamento
Name[sv]=Lagring
Name[uk]=Зберігання
Name[zh_TW]=儲存裝置
Comment=Configure Storage
Comment[ga]=Cumraigh Stóras
Comment[pt_BR]=Configurar armazenamento
Comment[sv]=Anpassa lagring
Comment[uk]=Налаштуйте зберігання
Comment[zh_TW]=設定儲存裝置
X-KDE-Keywords=ktimetracker, configure, settings
