[Desktop Entry]
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=ktimetracker/index.html

X-KDE-ModuleType=Library
X-KDE-Library=kcm_ktimetracker
X-KDE-ParentApp=ktimetracker
X-KDE-FactoryName=ktimetracker_config_display
X-KDE-ParentComponents=ktimetracker,kontact_ktimetrackerplugin
X-KDE-CfgDlgHierarchy=KTimeTracker
X-KDE-HasReadOnlyMode=false
X-KDE-Weight=700

Name=Appearance
Name[af]=Appearance
Name[ar]=المظهر
Name[be]=Вонкавы выгляд
Name[bg]=Външен вид
Name[br]=Neuziadur
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cs]=Vzhled
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[eo]=Prezentado
Name[es]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[fy]=Uterlik
Name[ga]=Cuma
Name[gl]=Aparencia
Name[he]=מראה
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[ka]=იერსახე
Name[kk]=Сыртқы көрінісі
Name[km]=រូបរាង
Name[ko]=모양
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mk]=Изглед
Name[ms]=Rupa
Name[nb]=Utseende
Name[nds]=Utsehn
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[oc]=Aparéncia
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[se]=Fárda
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[tg]=Намуди зоҳирӣ
Name[th]=รูปลักษณ์
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[uz]=Koʻrinishi
Name[uz@cyrillic]=Кўриниши
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Name[zh_TW]=外觀
Comment=Configure Appearance
Comment[ar]=اضبط المظهر
Comment[ca]=Configura l'aparença
Comment[ca@valencia]=Configura l'aparença
Comment[cs]=Nastavit vzhled
Comment[da]=Indstil udseende
Comment[de]=Erscheinungsbild einrichten
Comment[el]=Ρύθμιση εμφάνισης
Comment[en_GB]=Configure Appearance
Comment[es]=Configurar apariencia
Comment[et]=Välimuse seadistamine
Comment[fr]=Configuration de l'apparence
Comment[ga]=Cumraigh Cuma
Comment[gl]=Configure a aparencia
Comment[hu]=A megjelenés beállítása
Comment[it]=Configura l'aspetto
Comment[ja]=外観の設定
Comment[kk]=Сыртқы көрінісн баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​រូបរាង
Comment[lt]=Konfigūruoti išvaizdą
Comment[lv]=Konfigurēt izskatu
Comment[nb]=Sett opp utseendet
Comment[nds]=Utsehn instellen
Comment[nl]=Uiterlijk instellen
Comment[nn]=Set opp utsjånad
Comment[pa]=ਦਿੱਖ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wyglądu
Comment[pt]=Configurar a Aparência
Comment[pt_BR]=Configurar a aparência
Comment[ru]=Настройка внешнего вида
Comment[sk]=Nastavenie vzhľadu
Comment[sl]=Nastavitve videza
Comment[sv]=Anpassa utseende
Comment[tr]=Görünümü Yapılandır
Comment[uk]=Налаштуйте вигляд
Comment[x-test]=xxConfigure Appearancexx
Comment[zh_CN]=配置外观
Comment[zh_TW]=設定外觀
X-KDE-Keywords=ktimetracker, configure, settings
