[Desktop Entry]
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=ktimetracker/index.html

X-KDE-ModuleType=Library
X-KDE-Library=kcm_ktimetracker
X-KDE-ParentApp=ktimetracker
X-KDE-FactoryName=ktimetracker_config_display
X-KDE-ParentComponents=ktimetracker,kontact_ktimetrackerplugin
X-KDE-CfgDlgHierarchy=KTimeTracker
X-KDE-HasReadOnlyMode=false
X-KDE-Weight=700

Name=Appearance
Name[af]=Appearance
Name[ar]=المظهر
Name[be]=Вонкавы выгляд
Name[bg]=Външен вид
Name[br]=Neuziadur
Name[bs]=Izgled
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cs]=Vzhled
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[eo]=Prezentado
Name[es]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[fy]=Uterlik
Name[ga]=Cuma
Name[gl]=Aparencia
Name[he]=מראה
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[ia]=Apparentia
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[ka]=იერსახე
Name[kk]=Сыртқы көрінісі
Name[km]=រូបរាង
Name[ko]=모양
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mai]=प्रकटन
Name[mk]=Изглед
Name[mr]=दर्शनीयता
Name[ms]=Rupa
Name[nb]=Utseende
Name[nds]=Utsehn
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[oc]=Aparéncia
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[se]=Fárda
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sq]=Paraqitja
Name[sr]=Изглед
Name[sr@ijekavian]=Изглед
Name[sr@ijekavianlatin]=Izgled
Name[sr@latin]=Izgled
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[tg]=Намуди зоҳирӣ
Name[th]=รูปลักษณ์
Name[tr]=Görünüm
Name[ug]=كۆرۈنۈشى
Name[uk]=Вигляд
Name[uz]=Koʻrinishi
Name[uz@cyrillic]=Кўриниши
Name[wa]=Rivnance
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Name[zh_TW]=外觀
Comment=Configure Appearance
Comment[ar]=اضبط المظهر
Comment[bs]=Konfiguriši izgled
Comment[ca]=Configura l'aparença
Comment[ca@valencia]=Configura l'aparença
Comment[cs]=Nastavit vzhled
Comment[da]=Indstil udseende
Comment[de]=Erscheinungsbild einrichten
Comment[el]=Διαμόρφωση εμφάνισης
Comment[en_GB]=Configure Appearance
Comment[es]=Configurar apariencia
Comment[et]=Välimuse seadistamine
Comment[fi]=Ulkoasun asetukset
Comment[fr]=Configuration de l'apparence
Comment[ga]=Cumraigh Cuma
Comment[gl]=Configure a aparencia
Comment[hu]=A megjelenés beállítása
Comment[ia]=Configura apparentia
Comment[it]=Configura l'aspetto
Comment[ja]=外観の設定
Comment[kk]=Сыртқы көрінісн баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​រូបរាង
Comment[lt]=Konfigūruoti išvaizdą
Comment[lv]=Konfigurēt izskatu
Comment[mr]=दर्शनीयता संयोजीत करा
Comment[nb]=Sett opp utseendet
Comment[nds]=Utsehn instellen
Comment[nl]=Uiterlijk instellen
Comment[nn]=Set opp utsjånad
Comment[pa]=ਦਿੱਖ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wyglądu
Comment[pt]=Configurar a Aparência
Comment[pt_BR]=Configurar a aparência
Comment[ro]=Configurează aspectul
Comment[ru]=Настройка внешнего вида
Comment[sk]=Nastavenie vzhľadu
Comment[sl]=Nastavitve videza
Comment[sr]=Подешавање изгледа
Comment[sr@ijekavian]=Подешавање изгледа
Comment[sr@ijekavianlatin]=Podešavanje izgleda
Comment[sr@latin]=Podešavanje izgleda
Comment[sv]=Anpassa utseende
Comment[tr]=Görünümü Yapılandır
Comment[uk]=Налаштуйте вигляд
Comment[x-test]=xxConfigure Appearancexx
Comment[zh_CN]=配置外观
Comment[zh_TW]=設定外觀
X-KDE-Keywords=ktimetracker, configure, settings
X-KDE-Keywords[bs]=ktimetracker, konfigurirati, postavke
X-KDE-Keywords[ca]=ktimetracker, configura, arranjament
X-KDE-Keywords[ca@valencia]=ktimetracker, configura, arranjament
X-KDE-Keywords[da]=ktimetracker, indstil, indstillinger
X-KDE-Keywords[de]=KTimetracker,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen
X-KDE-Keywords[el]=ktimetracker, διαμόρφωση, ρυθμίσεις
X-KDE-Keywords[es]=ktimetracker, configurar, preferencias
X-KDE-Keywords[et]=ktimetracker, seadistamine, seadistused
X-KDE-Keywords[fi]=ktimetracker, configure, settings, asetukset
X-KDE-Keywords[fr]=ktimetracker, configuration,paramètres
X-KDE-Keywords[ga]=ktimetracker, cumraigh, socruithe
X-KDE-Keywords[gl]=ktimetracker,configurar,opcións
X-KDE-Keywords[hu]=ktimetracker, beállítás, beállítások
X-KDE-Keywords[ia]=ktimetracker, configura, preferentias
X-KDE-Keywords[it]=ktimetracker, configurazione, impostazioni
X-KDE-Keywords[kk]=ktimetracker, configure, settings
X-KDE-Keywords[km]=ktimetracker កំណត់​រចនាសម្ព័ន្ធ កំណត់
X-KDE-Keywords[mr]=के-टाइम-ट्रॅकर, संयोजना, संयोजना
X-KDE-Keywords[nb]=ktimetracker, oppsett, innstillinger
X-KDE-Keywords[nl]=ktimetracker, instellen, instellingen
X-KDE-Keywords[pl]=ktimetracker, konfiguruj, ustawienia
X-KDE-Keywords[pt]=ktimetracker, configurar, configuração
X-KDE-Keywords[pt_BR]=ktimetracker,configurar,configurações
X-KDE-Keywords[ro]=ktimetracker, configurare, opțiuni
X-KDE-Keywords[ru]=ktimetracker,configure,settings,хронометр,учёт времени,настроить,настройки
X-KDE-Keywords[sk]=ktimetracker, nastaviť, nastavenia
X-KDE-Keywords[sl]=ktimetracker,nastavi,nastavitve
X-KDE-Keywords[sr]=ktimetracker,configure,settings,К‑пратилац-времена,подешавање,подесити,поставке
X-KDE-Keywords[sr@ijekavian]=ktimetracker,configure,settings,К‑пратилац-времена,подешавање,подесити,поставке
X-KDE-Keywords[sr@ijekavianlatin]=ktimetracker,configure,settings,K‑pratilac-vremena,podešavanje,podesiti,postavke
X-KDE-Keywords[sr@latin]=ktimetracker,configure,settings,K‑pratilac-vremena,podešavanje,podesiti,postavke
X-KDE-Keywords[sv]=ktimetracker, anpassa, inställningar
X-KDE-Keywords[uk]=ktimetracker,configure,settings,налаштувати,параметр,параметри
X-KDE-Keywords[x-test]=xxktimetracker, configure, settingsxx
X-KDE-Keywords[zh_CN]=ktimetracker, configure, settings, 配置, 设置
X-KDE-Keywords[zh_TW]=ktimetracker, configure, settings
