[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=ktimetracker/index.html

X-KDE-Library=kcm_ktimetracker
X-KDE-ParentApp=ktimetracker
X-KDE-FactoryName=ktimetracker_config_behavior
X-KDE-ParentComponents=ktimetracker,kontact_ktimetrackerplugin
X-KDE-CfgDlgHierarchy=KTimeTracker
X-KDE-Weight=700

Name=Behavior
Name[ca]=Comportament
Name[cs]=Chování
Name[da]=Opførsel
Name[de]=Verhalten
Name[el]=Συμπεριφορά
Name[en_GB]=Behaviour
Name[et]=Käitumine
Name[fr]=Comportement
Name[ga]=Oibriú
Name[gl]=Comportamento
Name[it]=Comportamento
Name[km]=ឥរិយាបទ
Name[lv]=Izturēšanās
Name[mai]=व्यवहार
Name[nb]=Oppførsel
Name[nds]=Bedregen
Name[nl]=Gedrag
Name[nn]=Åtferd
Name[pa]=ਰਵੱਈਆ
Name[pl]=Zachowanie
Name[pt]=Comportamento
Name[pt_BR]=Comportamento
Name[ru]=Поведение
Name[sv]=Beteende
Name[tr]=Davranış
Name[uk]=Поведінка
Name[x-test]=xxBehaviorxx
Name[zh_CN]=行为
Name[zh_TW]=行為
Comment=Configure Behavior
Comment[ca]=Configura el comportament
Comment[cs]=Nastavit chování
Comment[da]=Indstil opførsel
Comment[de]=Verhalten einrichten
Comment[el]=Ρύθμιση συμπεριφοράς
Comment[en_GB]=Configure Behaviour
Comment[et]=Käitumise seadistamine
Comment[fr]=Configuration du comportement
Comment[ga]=Cumraigh Oibriú
Comment[gl]=Configurar o comportamento
Comment[it]=Configura il comportamento
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ឥរិយាបទ
Comment[lt]=Konfigūruoti elgseną
Comment[lv]=Konfigurēt izturēšanos
Comment[nb]=Tilpass oppførsel
Comment[nds]=Bedregen instellen
Comment[nl]=Gedrag instellen
Comment[nn]=Set opp åtferd
Comment[pa]=ਸੰਰਚਨਾ ਰਵੱਈਆ
Comment[pl]=Konfiguracja zachowania
Comment[pt]=Configurar o Comportamento
Comment[pt_BR]=Configurar comportamento
Comment[ru]=Настройка поведения
Comment[sv]=Anpassa beteende
Comment[tr]=Davranışı Yapılandır
Comment[uk]=Налаштуйте поведінку
Comment[x-test]=xxConfigure Behaviorxx
Comment[zh_CN]=配置行为
Comment[zh_TW]=設定行為
X-KDE-Keywords=ktimetracker, configure, settings
