[Desktop Entry]
Icon=system-file-manager
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=ktimetracker/index.html

X-KDE-ModuleType=Library
X-KDE-Library=kcm_ktimetracker
X-KDE-ParentApp=ktimetracker
X-KDE-FactoryName=ktimetracker_config_storage
X-KDE-ParentComponents=ktimetracker,kontact_ktimetrackerplugin
X-KDE-CfgDlgHierarchy=KTimeTracker
X-KDE-HasReadOnlyMode=false
X-KDE-Weight=700

Name=Storage
Name[cs]=Úložiště
Name[da]=Lagring
Name[de]=Speichern
Name[el]=Αποθήκευση
Name[en_GB]=Storage
Name[es]=Almacenamiento
Name[et]=Salvesti
Name[fr]=Stockage
Name[ga]=Stóras
Name[gl]=Almacenamento
Name[it]=Memorizzazione
Name[km]=ឧបករណ៍​ផ្ទុក
Name[lv]=Glabāšana
Name[nb]=Lagring
Name[nds]=Sekern
Name[nl]=Opslag
Name[nn]=Lagring
Name[pl]=Przechowywanie
Name[pt]=Armazenamento
Name[pt_BR]=Armazenamento
Name[ru]=Хранение
Name[sv]=Lagring
Name[tr]=Depolama
Name[uk]=Зберігання
Name[x-test]=xxStoragexx
Name[zh_CN]=存储
Name[zh_TW]=儲存裝置
Comment=Configure Storage
Comment[cs]=Nastavit úložiště
Comment[da]=Indstil lagring
Comment[de]=Einstellungen zum Speichern einrichten
Comment[el]=Ρύθμιση αποθήκευσης
Comment[en_GB]=Configure Storage
Comment[es]=Configurar almacenamiento
Comment[et]=Salvesti seadistamine
Comment[fr]=Configuration du stockage
Comment[ga]=Cumraigh Stóras
Comment[gl]=Configurar o almacenamento
Comment[it]=Configura la memorizzazione
Comment[km]=កំណត់​រចនា​សម្ព័ន្ធ​ឧបករណ៍​ផ្ទុក
Comment[lv]=Konfigurēt glabāšanu
Comment[nb]=Sett opp lagring
Comment[nds]=Sekern instellen
Comment[nl]=Opslag instellen
Comment[nn]=Set opp lagring
Comment[pl]=Konfiguracja przechowywania
Comment[pt]=Configurar o Armazenamento
Comment[pt_BR]=Configurar armazenamento
Comment[ru]=Настройка хранения
Comment[sv]=Anpassa lagring
Comment[tr]=Depolamayı Yapılandır
Comment[uk]=Налаштуйте зберігання
Comment[x-test]=xxConfigure Storagexx
Comment[zh_CN]=配置存储
Comment[zh_TW]=設定儲存裝置
X-KDE-Keywords=ktimetracker, configure, settings
