[Desktop Entry]
Name=KTimeTracker Component
Name[ar]=برنامج مقتفي الوقت
Name[ca]=Component del KTimeTracker
Name[ca@valencia]=Component del KTimeTracker
Name[cs]=Komponenta KTimeTracker
Name[da]=KTimeTracker-komponent
Name[de]=Zeiterfassungs-Komponente
Name[el]=Συστατικό KTimeTracker
Name[en_GB]=KTimeTracker Component
Name[es]=Componente de KTimeTracker
Name[et]=KTimeTrackeri komponent
Name[fr]=Composant KTimeTracker
Name[ga]=Comhpháirt KTimeTracker
Name[gl]=Compoñente KTimeTracker
Name[hu]=KTimeTracker objektum
Name[ia]=Componente pro KTimeTracker
Name[it]=Componente KTimeTracker
Name[ja]=KTimeTracker コンポーネント
Name[kk]=KTimeTracker компоненті
Name[km]=សមាសភាគ​កម្មវិធីតាមដាន​របស់ KTime
Name[ko]=KTimeTracker 구성 요소
Name[lt]=KTimeTracker komponentas
Name[lv]=KTimeTracker komponente
Name[nb]=KTimeTracker-komponent
Name[nds]=Tietlogbook-Komponent
Name[nl]=KTimeTrackercomponent
Name[nn]=KTimeTracker-komponent
Name[pa]=KTimeTracker ਭਾਗ
Name[pl]=Moduł Osobistego czasomierza
Name[pt]=Componente do KTimeTracker
Name[pt_BR]=Componente do KTimeTracker
Name[ro]=Componentă KTimeTracker
Name[ru]=Компонент KTimeTracker
Name[sl]=Komponenta KTimeTracker
Name[sr]=Компонента К‑пратиоца-времена
Name[sr@ijekavian]=Компонента К‑пратиоца-времена
Name[sr@ijekavianlatin]=Komponenta K‑pratioca-vremena
Name[sr@latin]=Komponenta K‑pratioca-vremena
Name[sv]=Tidmätningskomponent
Name[tr]=KTimeTracker Bileşeni
Name[uk]=Компонент KTimeTracker
Name[x-test]=xxKTimeTracker Componentxx
Name[zh_CN]=KTimeTracker 组件
Name[zh_TW]=KTimeTracker 組件
MimeType=text/calendar;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=ktimetrackerpart
Type=Service
