[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=ktimetracker/index.html

X-KDE-Library=kcm_ktimetracker
X-KDE-ParentApp=ktimetracker
X-KDE-FactoryName=ktimetracker_config_behavior
X-KDE-ParentComponents=ktimetracker,kontact_ktimetrackerplugin
X-KDE-CfgDlgHierarchy=KTimeTracker
X-KDE-Weight=700

Name=Behavior
Name[ga]=Oibriú
Name[nds]=Bedregen
Name[pt]=Comportamento
Name[pt_BR]=Comportamento
Name[sv]=Beteende
Name[uk]=Поведінка
Name[zh_TW]=行為
Comment=Configure Behavior
Comment[ga]=Cumraigh Oibriú
Comment[nds]=Bedregen instellen
Comment[pt]=Configurar o Comportamento
Comment[pt_BR]=Configurar comportamento
Comment[sv]=Anpassa beteende
Comment[uk]=Налаштуйте поведінку
Comment[zh_TW]=設定行為
X-KDE-Keywords=ktimetracker, configure, settings
