[Desktop Entry]
Encoding=UTF-8
Name=KTimetracker Applet
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_timetrackerapplet
X-KDE-PluginInfo-Author=The ktimetracker Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=timetrackerapplet
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://kdepim.kde.org/
X-KDE-PluginInfo-Category=KDEPIM
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
