[Desktop Entry]
Icon=ktimetracker
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=ktimetracker/index.html

X-KDE-Library=kcm_ktimetrackerconfig
X-KDE-ParentApp=ktimetracker
X-KDE-ParentComponents=ktimetracker,kontact_karmplugin
X-KDE-CfgDlgHierarchy=KTT
X-KDE-Weight=700

Name=KTimeTracker
Name[de]=KDE-Zeitplaner
Name[km]=កម្មវិធី​តាមដាន​របស់ KTime
Name[ne]=केडीई समय ट्रयाकर
Name[nn]=KTidtakar
Name[pl]=Osobisty czasomierz
Name[sv]=Ktimetracker
Name[x-test]=xxKTimeTrackerxx
Comment=Configure ktimetracker
Comment[ca]=Configura el ktimetracker
Comment[cs]=Nastavit ktimetracker
Comment[da]=Indstil KTimeTracker
Comment[de]=KDE-Zeitplaner einrichten
Comment[el]=Ρύθμιση του ktimetracker
Comment[es]=Configurar ktimetracker
Comment[et]=KTimeTrackeri seadistamine
Comment[fr]=Configurer KTimeTracker
Comment[ga]=Cumraigh ktimetracker
Comment[gl]=Configurar ktimetracker
Comment[it]=Configura ktimetracker
Comment[ja]=KTimeTracker の設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ ktimetracker
Comment[ko]=KTimeTracker 설정
Comment[lt]=Konfigūruoti ktimetracker
Comment[lv]=Konfigurēt ktimetracker
Comment[nb]=Oppsett for ktimetracker
Comment[nds]=Tietlogbook instellen
Comment[nl]=KTimeTracker instellen
Comment[nn]=Set opp KTidtakar
Comment[pl]=Konfiguracja Osobistego czasomierza
Comment[pt]=Configurar o KTimeTracker
Comment[pt_BR]=Configurar o ktimetracker
Comment[ro]=Configurează ktimetracker
Comment[ru]=Настройка KTimeTracker
Comment[sl]=Nastavi KTimeTracker
Comment[sv]=Anpassa tidmätning
Comment[tr]=Ktimetracker Uygulamasını Yapılandır
Comment[uk]=Налаштування ktimetracker
Comment[x-test]=xxConfigure ktimetrackerxx
Comment[zh_CN]=配置 KTimeTracker
Comment[zh_TW]=設定 KTimeTracker
X-KDE-Keywords=ktimetracker, configure, settings
