[Desktop Entry]
BinaryPattern=karm;
Protocols=
Name=Personal Time Tracker
Name[ca]=Agenda personal
Name[cs]=KArm
Name[da]=personlig tidlogger
Name[eo]=Persona Tempomezurilo
Name[es]=Gestor de tiempos
Name[fi]=Ajanhallinta
Name[fr]=Compteur de tâches personnelles
Name[hr]=Mjeraè vremena
Name[hu]=Személyes Idõkövetõ
Name[is]=Stimpilklukka
Name[it]=Time Tracker Personale
Name[mi]=Személyes Idõkövetõ
Name[no]=Personlig tidslogger
Name[no_NY]=Personleg tidsmålar
Name[pl]=KArm
Name[pt]=Gestor de Tempo
Name[pt_BR]=KArm
Name[ro]=Cronometru
Name[ru]=ìÉŞÎÙÊ ÓÅËÒÅÔÁÒØ
Name[sk]=KArm
Name[sl]=Iskalec osebnih imen
Name[sr]=Lièni pratilac vremena
Name[sv]=Personlig tidmätare
Name[zh_CN.GB2312]=KArm
Comment=Personal Time Tracker
Comment[ca]=Agenda personal
Comment[cs]=Obobní mìøiè èasu
Comment[da]=Personlig tidsoversigt
Comment[eo]=Tempomezurilo por viaj aktivecoj
Comment[es]=Gestor de tiempos personal
Comment[fi]=Henkilökohtainen ajanhallintaohjelma
Comment[fr]=karm : Chronomètreur de tâches personnelles
Comment[hr]=Osobni mjeraè vremena
Comment[hu]=Személyes idõ-követõ
Comment[is]=karm:  Fylgjast meğ í hvağ tíminn fer
Comment[it]=Time Tracker Personale
Comment[mi]=Személyes idõ-követõ
Comment[no]=Personlig tidsoversikt
Comment[no_NY]=Personleg tidsmålar
Comment[pl]=Osobisty Czasomierz
Comment[pt]=Gestor pessoal de tempo
Comment[pt_BR]=Gerenciador pessoal de tempo
Comment[ro]=Program de şinut evidenşa timpului scurs
Comment[ru]=ìÉŞÎÙÊ ÓÅËÒÅÔÁÒØ
Comment[sk]=Osobnı meraè èasu
Comment[sl]=Iskalnik osebnih imen
Comment[sr]=Lièni pratilac vremena
Comment[sv]=Personal tidmätare
Comment[zh_CN.GB2312]=¸öÈËÊ±¼ä¸ú×ÙÆ÷
Exec=karm  -caption "%c" %i %m
Icon=karm
TerminalOptions=
Path=
DocPath=karm/index.html
Extensions=
Type=Application
Terminal=0
