[Desktop Entry]
Name=KTimeTracker
Name[de]=Persönliche Zeiterfassung
GenericName=Personal Time Tracker
GenericName[de]=Persönliche Zeiterfassung
Exec=ktimetracker  -caption "%c"
Icon=karm
Path=
X-DocPath=ktimetracker/index.html
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
