[Desktop Entry]
Encoding=UTF-8
Name=KTimeTracker
Name[x-test]=xxKTimeTrackerxx
GenericName=Personal Time Tracker
GenericName[af]=Persoonlike Tyd Volger
GenericName[br]=Roudenner amzer personel
GenericName[ca]=Cronòmetre personal
GenericName[cs]=Osobní měřič času
GenericName[cy]=Dilynnydd Amser Personol
GenericName[da]=Personlig tidsoversigt
GenericName[de]=Persönliche Zeiterfassung
GenericName[el]=Προσωπικός καταγραφέας χρόνου
GenericName[eo]=Tempomezurilo por viaj aktivecoj
GenericName[es]=Cronómetro personal
GenericName[et]=Personaalne ajaarvestus
GenericName[eu]=Kronometro pertsonala
GenericName[fa]=ردیاب شخصی زمان
GenericName[fi]=Henkilökohtainen ajanhallintaohjelma
GenericName[fr]=Chronomètre individuel de tâches
GenericName[gl]=Xestor Persoal de Proxectos
GenericName[he]=מנהל זמן אישי
GenericName[hr]=Osobni mjerač vremena
GenericName[hu]=Időfelhasználás-figyelő
GenericName[is]=Fylgjast með í hvað tíminn fer
GenericName[it]=Segnatempo personale
GenericName[ka]=პერსონალური დროის აღმრიცხველი
GenericName[km]=កម្មវិធី​តាមដាន​ពេលវេលា​ផ្ទាល់​ខ្លួន
GenericName[ko]=일하는 시간을 잴 수 있습니다
GenericName[lt]=Asmeninis laiko sekėjas
GenericName[lv]=Personālais Laika Atsekotājs
GenericName[mk]=Следење на личното време
GenericName[ms]=Penjejak Waktu Peribadi
GenericName[nb]=Personlig tidsoversikt
GenericName[nds]=Persöönlich Tietlogbook
GenericName[ne]=व्यक्तिगत समय ट्र्याकर
GenericName[nl]=Tijdsregistratie
GenericName[nn]=Personleg tidsmålar
GenericName[pl]=Osobisty Czasomierz
GenericName[pt]=Gestor Pessoal de Tempo
GenericName[pt_BR]=Gerenciador pessoal de tempo
GenericName[ro]=Organizator timp personal
GenericName[ru]=Учёт рабочего времени
GenericName[sl]=Osebni merilec časa
GenericName[sr]=Лични пратилац времена
GenericName[sr@Latn]=Lični pratilac vremena
GenericName[sv]=Personlig tidmätare
GenericName[ta]=தனிப்பயன் நேரம் பின்பற்றி
GenericName[tg]=Баҳисобгирии вақти корӣ
GenericName[tr]=Kişisel Saat İzleyici
GenericName[uk]=Персональний лічильник часу
GenericName[x-test]=xxPersonal Time Trackerxx
GenericName[xh]=Umfumani Wexesha Lobuqu
GenericName[zh_TW]=個人時程記錄
Exec=ktimetracker  -caption "%c"
Icon=karm
Path=
DocPath=ktimetracker/index.html
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
