[Desktop Entry]
Name=KTimeTracker
Name[ar]=مقتفي الوقت
Name[bs]=KTimeTracker
Name[ca]=KTimeTracker
Name[ca@valencia]=KTimeTracker
Name[cs]=KTimeTracker
Name[da]=KTimeTracker
Name[de]=KDE-Zeiterfassung
Name[el]=KTimeTracker
Name[en_GB]=KTimeTracker
Name[es]=KTimeTracker
Name[et]=KTimeTracker
Name[fi]=KTimeTracker
Name[fr]=KTimeTracker
Name[ga]=KTimeTracker
Name[gl]=KTimeTracker
Name[hu]=KTimeTracker
Name[ia]=KTimeTracker
Name[it]=KTimeTracker
Name[ja]=KTimeTracker
Name[kk]=KTimeTracker
Name[km]=កម្មវិធី​តាមដាន​របស់ KTime
Name[ko]=KTimeTracker
Name[lt]=KTimeTracker
Name[lv]=KTimeTracker
Name[nb]=KTimeTracker
Name[nds]=KTimeTracker
Name[ne]=केडीई समय ट्रयाकर
Name[nl]=KTimeTracker
Name[nn]=KTimeTracker
Name[pa]=KTimeTracker
Name[pl]=Osobisty czasomierz
Name[pt]=KTimeTracker
Name[pt_BR]=KTimeTracker
Name[ro]=KTimeTracker
Name[ru]=KTimeTracker
Name[sk]=KTimeTracker
Name[sl]=KTimeTracker
Name[sr]=К‑пратилац-времена
Name[sr@ijekavian]=К‑пратилац-времена
Name[sr@ijekavianlatin]=K‑pratilac-vremena
Name[sr@latin]=K‑pratilac-vremena
Name[sv]=Ktimetracker
Name[tr]=KTimeTracker
Name[ug]=KTimeTracker
Name[uk]=KTimeTracker
Name[x-test]=xxKTimeTrackerxx
Name[zh_CN]=KTimeTracker
Name[zh_TW]=KTimeTracker
GenericName=Personal Time Tracker
GenericName[af]=Persoonlike Tyd Volger
GenericName[ar]=مقتفي الوقت الشخصي
GenericName[bg]=Отчитане на времето
GenericName[br]=Roudenner amzer personel
GenericName[bs]=Lični pratilac vremena
GenericName[ca]=Seguiment horari personal
GenericName[ca@valencia]=Seguiment horari personal
GenericName[cs]=Osobní měřič času
GenericName[cy]=Dilynnydd Amser Personol
GenericName[da]=Personlig tidsoversigt
GenericName[de]=Zeiterfassung
GenericName[el]=Προσωπικός καταγραφέας χρόνου
GenericName[en_GB]=Personal Time Tracker
GenericName[eo]=Tempomezurilo por viaj aktivecoj
GenericName[es]=Gestor personal del tiempo
GenericName[et]=Personaalne ajaarvestus
GenericName[eu]=Kronometro pertsonala
GenericName[fa]=ردیاب شخصی زمان
GenericName[fi]=Ajankäytön tarkkailu
GenericName[fr]=Suivi du temps
GenericName[fy]=Persoanlike tiidregistraasje
GenericName[gl]=Xestor persoal de proxectos
GenericName[he]=מנהל זמן אישי
GenericName[hr]=Osobni mjerač vremena
GenericName[hu]=Személyes időnyilvántartó
GenericName[ia]=Traciator de tempore personal
GenericName[is]=Fylgjast með í hvað tíminn fer
GenericName[it]=Segnatempo personale
GenericName[ja]=個人用タイムトラッカー
GenericName[ka]=პერსონალური დროის აღმრიცხველი
GenericName[kk]=Дербес уақыт қадағалағышы
GenericName[km]=កម្មវិធី​តាមដាន​ពេលវេលា​ផ្ទាល់​ខ្លួន
GenericName[ko]=개인 시간 추적기
GenericName[lt]=Asmeninis laiko sekiklis
GenericName[lv]=Personīgais laika izlietojuma apsekotājs
GenericName[mk]=Следење на личното време
GenericName[ms]=Penjejak Waktu Peribadi
GenericName[nb]=Personlig tidtaker
GenericName[nds]=Persöönlich Tietlogbook
GenericName[ne]=व्यक्तिगत समय ट्रयाकर
GenericName[nl]=Tijdsregistratie
GenericName[nn]=Personleg tidtakar
GenericName[pa]=ਨਿੱਜੀ ਟਾਇਮ ਟਰੈਕਰ
GenericName[pl]=Osobisty Czasomierz
GenericName[pt]=Gestor Pessoal de Tempo
GenericName[pt_BR]=Gerenciador de tempo pessoal
GenericName[ro]=Organizator timp personal
GenericName[ru]=Учёт времени
GenericName[sk]=Osobný merač času
GenericName[sl]=Osebni merilec časa
GenericName[sr]=Лични пратилац времена
GenericName[sr@ijekavian]=Лични пратилац времена
GenericName[sr@ijekavianlatin]=Lični pratilac vremena
GenericName[sr@latin]=Lični pratilac vremena
GenericName[sv]=Personlig tidmätare
GenericName[ta]=தனிப்பயன் நேரம் பின்பற்றி
GenericName[tg]=Баҳисобгирии вақти корӣ
GenericName[tr]=Kişisel Saat İzleyici
GenericName[uk]=Персональний лічильник часу
GenericName[vi]=Trình đo thời gian 
GenericName[xh]=Umfumani Wexesha Lobuqu
GenericName[x-test]=xxPersonal Time Trackerxx
GenericName[zh_CN]=个人时间记录
GenericName[zh_TW]=個人時程記錄
Exec=ktimetracker
Icon=ktimetracker
X-DocPath=ktimetracker/index.html
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;Office;Monitor;X-KDE-Utilities-PIM;
