[Desktop Entry]
Name=KTimeTracker
Name[ca]=KTimeTracker
Name[de]=KTimeTracker
Name[nl]=KTimeTracker
Name[pt]=KTimeTracker
Name[ru]=KTimeTracker
Name[sk]=KTimeTracker
Name[sv]=KTimeTracker
Name[uk]=KTimeTracker
Name[x-test]=xxKTimeTrackerxx
GenericName=Personal Time Tracker
GenericName[ca]=Seguidor personal del temps
GenericName[de]=Persönliche Zeiterfassung
GenericName[nl]=Persoonlijk gebruik van tijd
GenericName[pt]=Gestor do Tempo Pessoal
GenericName[ru]=Учёт времени
GenericName[sk]=Osobný sledovač času
GenericName[sv]=Personlig tidmätning
GenericName[uk]=Програма для керування особистим часом
GenericName[x-test]=xxPersonal Time Trackerxx
Exec=ktimetracker
Icon=ktimetracker
X-DocPath=ktimetracker/index.html
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;Office;Monitor;X-KDE-Utilities-PIM;
