[Desktop Entry]
Name=KTimeTracker
GenericName=Personal Time Tracker
Exec=ktimetracker
Icon=ktimetracker
X-DocPath=ktimetracker/index.html
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;Office;Monitor;X-KDE-Utilities-PIM;
