<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="ktimetracker" version="393">
    <MenuBar>
        <Menu name="file">
            <Action name="file_open" />
            <Action name="file_open_recent" />
            <Action name="file_save" />
            <Separator />
            <Action name="ktimetracker_start_new_session" />
            <Action name="reset_all_times" />
            <Separator />
            <Action name="import_planner" />
            <Action name="export_dialog" />
            <Action name="edit_history" />
            <Separator />
            <Action name="file_quit" />
        </Menu>
        <Menu name="clock">
            <text>&amp;Clock</text>
            <Action name="start" />
            <Action name="stop" />
            <Action name="stopAll" />
            <Action name="focustracking" />
        </Menu>
        <Menu name="task">
            <text>&amp;Task</text>
            <Action name="new_task" />
            <Action name="new_sub_task" />
            <Action name="delete_task" />
            <Action name="edit_task" />
            <!--    <Action name="add_comment_to_task" /> -->
            <Separator />
            <Action name="mark_as_complete" />
            <Action name="mark_as_incomplete" />
        </Menu>
        <Menu name="settings" >
        <text>&amp;Settings</text>
        <Action name="searchbar" />
        </Menu>
    </MenuBar>
    <ToolBar position="top" iconText="icononly" noMerge="1" name="mainToolBar" >
        <text>Main Toolbar</text>
        <Action name="new_task" />
        <Action name="new_sub_task" />
        <Action name="start" />
        <Action name="stop" />
        <Action name="delete_task" />
            <Action name="edit_task" />
    </ToolBar>
    <ToolBar position="top" iconText="icononly" noMerge="1" name="taskToolBar" >
      <text>Tasks</text>
      <Action name="file_new" />
      <Action name="file_open" />
      <Action name="file_save" />
    </ToolBar>

    <Menu name="task_popup">
      <Action name="start" />
      <Action name="stop" />
      <Action name="stopAll" />
      <Separator />
      <Action name="new_task" />
      <Action name="new_sub_task" />
      <Action name="delete_task" />
      <Action name="edit_task_time" />
      <Action name="edit_task" />
      <Separator />
      <Action name="mark_as_complete" />
      <Action name="mark_as_incomplete" />
    </Menu>
</gui>
