# SPDX-FileCopyrightText: 2019 Friedrich W. H. Kossebau <kossebau@kde.org>
# SPDX-FileCopyrightText: 2022 Toni Asensi Esteve <toni.asensi@kdemail.net>
# SPDX-FileCopyrightText: 2024 Laurent Montel <montel@kde.org>

# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=KTimeTracker
Name[ast]=KTimeTracker
Name[ca]=KTimeTracker
Name[ca@valencia]=KTimeTracker
Name[cs]=KTimeTracker
Name[de]=KTimeTracker
Name[en_GB]=KTimeTracker
Name[eo]=KTimeTracker
Name[es]=KTimeTracker
Name[et]=KTimeTracker
Name[eu]=KTimeTracker
Name[fi]=KTimeTracker
Name[fr]=KTimeTracker
Name[gl]=KTimeTracker
Name[he]=KTimeTracker
Name[ia]=KTimeTracker
Name[it]=KTimeTracker
Name[ka]=KTimeTracker
Name[ko]=KTimeTracker
Name[lv]=KTimeTracker
Name[nl]=KTimeTracker
Name[nn]=KTimeTracker
Name[pl]=Pomiar czasu KDE
Name[pt]=KTimeTracker
Name[pt_BR]=KTimeTracker
Name[ro]=KTimeTracker
Name[ru]=KTimeTracker
Name[sk]=KTimeTracker
Name[sl]=KTimeTracker
Name[sv]=KTimeTracker
Name[tr]=K Zamanölçer
Name[uk]=KTimeTracker
Name[x-test]=xxKTimeTrackerxx
Name[zh_CN]=KTimeTracker
Name[zh_TW]=KTimeTracker
GenericName=Personal Time Tracker
GenericName[ca]=Seguidor personal del temps
GenericName[ca@valencia]=Seguidor personal del temps
GenericName[cs]=Osobní sledovač času
GenericName[de]=Persönliche Zeiterfassung
GenericName[en_GB]=Personal Time Tracker
GenericName[eo]=Persona Tempsekvilo
GenericName[es]=Seguimiento del tiempo personal
GenericName[et]=Isikliku aja arvestamine
GenericName[eu]=Denbora pertsonalaren aztarnaria
GenericName[fi]=Henkilökohtainen ajankäytön seuranta
GenericName[fr]=Outil de gestion du temps personnel
GenericName[gl]=Seguimento do tempo persoal
GenericName[he]=עוקב תזמונים אישי
GenericName[ia]=Traciator de tempore personal
GenericName[it]=Segnatempo personale
GenericName[ka]=პირადი დროის ტრეკერი
GenericName[ko]=개인 시간 추적기
GenericName[lv]=Personīgais laika uzskaitītājs
GenericName[nl]=Persoonlijk gebruik van tijd
GenericName[nn]=Personleg tidtakar
GenericName[pl]=Osobisty czasomierz
GenericName[pt]=Gestor do Tempo Pessoal
GenericName[pt_BR]=Gerenciador de tempo pessoal
GenericName[ro]=Utilitar de contorizat timpul
GenericName[ru]=Учёт времени
GenericName[sk]=Osobný sledovač času
GenericName[sl]=Osebni sledilnik porabe časa
GenericName[sv]=Personlig tidmätning
GenericName[tr]=Kişisel Zaman Ölçer
GenericName[uk]=Програма для керування особистим часом
GenericName[x-test]=xxPersonal Time Trackerxx
GenericName[zh_CN]=个人时间追踪器
GenericName[zh_TW]=個人時間追蹤器
Exec=ktimetracker
Icon=ktimetracker
X-DocPath=ktimetracker/index.html
Type=Application
SingleMainWindow=true
Terminal=false
StartupNotify=true
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Utility;Office;Monitor;X-KDE-Utilities-PIM;
